<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8"> 
   <title> {{who}}登入  </title>
   <script type="text/javascript"></script>
   <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="col-lg-12 "style="border-bottom-style:solid;" >
        <div class="col-lg-5 col-md-offset-5">
	<font size=50px >{{who}}登入</font>
        </div>
</div>


<div class="col-lg-12" style="height:150px;"></div>




<div class="col-lg-8 col-md-offset-2">


<select name="chose" style="width:120px;height:40px;font-size:20px;text-align:center;">
    <option value=""></option>
    <option value="中文書" >中文書</option>
    <option value="英文書">英文書</option>
    <option value="漫畫書">漫畫書</option>
</select>
<font size="5">選擇篩選</font>



<form action="/check" method="POST" >


<table id="ajax" border='0' width="80%" class="table table-hover">

   <tr>
    <td align='center' valign="middle"><font size="6" style="font-weight:bold;">書本編號</font></td>
    <td align='center' valign="middle"><font size="6" style="font-weight:bold;">書名</font></td>
    <td align='center' valign="middle"><font size="6" style="font-weight:bold;">書本狀態</font></td>
    <td align='center' valign="middle"><font size="6" style="font-weight:bold;">書本類型</font></td>
    <td align='center' valign="middle"><font size="6" style="font-weight:bold;">書本租借</font></td>
   </tr>
	   
   {%for i in content%}
   <tr>	
    <td align='center' valign="middle"><font size="5">{{i[0]}}</font></td>	
    <td align='center' valign="middle"><font size="5">{{i[1]}}</font></td>
    <td align='center' valign="middle"><font size="5">{{i[2]}}</font></td>
    <td align='center' valign="middle"><font size="5">{{i[3]}}</font></td>
    <td align='center' valign="middle"><input type="checkbox" class="{{i[2]}}" name="check" value="{{i[0]}}" style="width:20px;height:20px;">
   </tr>	
   {%endfor%}

   <input type="hidden" name="who" value="{{who}}">
</table>
 
<div class="row">
<div class="col-md-2">
<input type="submit" value="租借書本" class="btn btn-warning" style="width:120px;height:40px;font-size:20px;">
</div>
</form>

<form action="/userborrower/{{userid[0]}}" method="POST" >
	<div class="col-md-5">	
<input type="submit" value="查尋書本" class="btn btn-info" style="width:120px;height:40px;font-size:20px;">
	</div>
</form>
</div>

</div>








<script>

$(function(){
var ban = document.getElementsByClassName("借出");
for(var i = 0;i<ban.length;i++){
	ban[i].disabled=true;
}	
	
});


$(function(){


$('select').on('change', function() {
	
	var a = this.value;
	var test = new Object();
        test.chose=[];
        test.chose=a;
        var data = JSON.stringify(test)
	$.ajax({
	  url:"/ajax",
	  type:"POST",
	  data:data,
	  success:function(a){
	    $("#ajax").html(a);
	    var ban = document.getElementsByClassName("借出");
	    for(var i = 0;i<ban.length;i++){
		ban[i].disabled=true;
		}   
	  }
	
	
	
	
	
	
	
	});



});


});











</script>

</body>
</html>

